.starIcon {
    cursor: pointer;
}

.selected {
    cursor: auto;
}

.StarsRating {
    .normal {
        fill: var(--star-unchecked-bg);
    }

    .hovered {
        fill: var(--star-checked-bg);
    }
}

.StarsRatingRedesigned {
    display: flex;
    gap: 8px;

    .normal {
        fill: var(--light-bg-redesigned);
    }

    .hovered {
        fill: var(--icon-redesigned);
    }
}
