.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    transition: 0.2s all;
    height: 30px;
}

.link {
    margin-left: 10px;
    color: var(--inverted-primary-color);
    opacity: 1;
    display: flex;
    align-items: center;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}

.linkRedesign {
    margin-left: 10px;
    opacity: 1;
    display: flex;
    align-items: center;
    color: var(--text-redesigned);
}

.collapsedRedesign {
    .linkRedesign {
        opacity: 0;
        width: 0;
    }
}

.itemRedesign {
    margin-top: 10px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    transition: 0.2s all;
    width: 100%;
    height: 40px;
}

.active {
    background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
    border-left: 2px solid var(--accent-redesigned);
}
