.ArticleViewSelector {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 8px;

    .notSelected {
        fill: var(--secondary-color);
    }
}

.ArticleViewSelectorRedesigned {
    display: flex;
    gap: 8px;
    justify-content: flex-end;

    .notSelected {
        fill: var(--hint-redesigned);
    }
}
