.GRID {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .rowWrapper {
        display: flex;
        gap: 16px;
        padding: 8px 0;
    }
}

.LIST {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .card {
        margin-bottom: 16px;
    }
}
