.panel {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 10000;
    border-radius: var(--border-radius-redesigned);
    box-shadow: var(--box-shadow-redesigned);
    padding: 8px 16px;
}
