.ProfileCard {
    padding: 20px;
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
}

.loading,
.error {
    height: 300px;
}

.editing {
    outline: 2px solid var(--secondary-color);
}
