.Wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.label {
    margin-right: 5px;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 4px 10px 6px 4px;
    border: solid 0.3px var(--primary-color);
    border-radius: 4px;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}
