.app_blue_theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #e5e8ff;
    --primary-color: #fff;
    --secondary-color: #edf5faa4;
    --inverted-primary-color: #2d3270;
    --inverted-secondary-color: #39afea;
    --skeleton-shadow: #acabab;
    --skeleton-color: #e5e8ff;
    --code-bg: #838ada;
    --card-bg: #838ada;
    --box-shadow: rgba(11, 43, 158, 0.808) 0px 6px 20px -6px;
}
