.app_blue_theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #e5e8ff;
    --primary-color: #fef9f9;
    --secondary-color: #fffefe;
    --inverted-primary-color: #2d3270;
    --inverted-secondary-color: #39afea;
    --skeleton-shadow: #acabab;
    --skeleton-color: #e5e8ff;
}
