.app_dark_theme {
    --bg-color: #2b2828;
    --inverted-bg-color: #e2f8ff;
    --primary-color: #ffffff;
    --secondary-color: #afaaaa;
    --inverted-primary-color: #050505;
    --inverted-secondary-color: #017df9;
    --skeleton-shadow: #acabab;
    --skeleton-color: #e2f8ff;
    --code-bg: #554e4e;
    --card-bg: #554e4e;
}
