:root {
    --bg-color: #e2f8ff;
    --inverted-bg-color: #2b2828;
    --primary-color: #050505;
    --secondary-color: #9eb4ca;
    --inverted-primary-color: #afaaaa;
    --inverted-secondary-color: #fffefe;
    --skeleton-shadow: #acabab;
    --skeleton-color: #fffefe;
    --code-bg: #f6f9fa;
}
