:root {
  --bg-color: #e2f8ff;
  --inverted-bg-color: #2b2828;
  --primary-color: #050505;
  --secondary-color: #7f858f;
  --inverted-primary-color: #afaaaa;
  --inverted-secondary-color: #fffefe;
  --skeleton-shadow: #acabab;
  --skeleton-color: #fffefe;
  --code-bg: #f6f9fa;
  --card-bg: #c5e2eb;
  --box-shadow: rgb(11 43 158 / 37%) 0 6px 20px -6px;
  --star-unchecked-bg: #e3eaec;
  --star-checked-bg: #2b2828;
}
