.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 10000;
    box-shadow: var(--box-shadow-redesigned);
}

.item {
    padding: 10px 20px;
    border-radius: var(--border-radius-redesigned);
    width: 100%;
    min-width: max-content;
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
}

.link {
    width: 100%;
}
