.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links,
.actions {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 10px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.appNameIcon {
    fill: var(--inverted-primary-color);
}

.notifications {
    min-height: 150px;
    max-width: 300px;
    width: 500px;
    overflow-y: auto;
}
