.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 8px 16px;
    display: flex;
    align-items: center;

    .addonLeft svg,
    .addonRight svg {
        fill: var(--hint-redesigned);
    }

    &:hover {
        color: var(--accent-redesigned);

        .addonLeft svg,
        .addonRight svg {
            fill: var(--accent-redesigned);
        }
    }
}

.addonLeft,
.addonRight {
    display: flex;
}

.withAddon {
    padding: 4px 12px 4px 18px;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: 0;
    outline: none;
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;
}

.outline {
    border: 2px solid var(--text-redesigned);
    padding: 4px 16px;
    color: var(--text-redesigned);
    background: none;
    border-radius: var(--border-radius-redesigned);

    &:hover {
        border: 2px solid var(--accent-redesigned);
    }
}

.square {
    padding: 0;
    border-radius: var(--border-radius);
}

.square.m {
    width: var(--font-line-m-redesigned);
    height: var(--font-line-m-redesigned);
    font: var(--font-m-redesigned);
}

.square.l {
    width: var(--font-line-l-redesigned);
    height: var(--font-line-l-redesigned);
    font: var(--font-l-redesigned);
}

.square.xl {
    width: var(--font-line-xl-redesigned);
    height: var(--font-line-xl-redesigned);
    font: var(--font-xl-redesigned);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}

.disabled {
    opacity: 0.5;
}
